@import "bootstrap-sprockets";
@import "bootstrap/variables";

body {

    padding-top: $navbar-height;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #444;

    &#logged-out {
        @media (orientation: portrait) {

            background-color: #FFF;

            #container-fluid {
                display: table;
                width: 100%;
                height: 100%;
                margin: 0 auto;

                #sign-in-container {
                    display:table-cell;
                    vertical-align: middle;
                    position: relative;

                    .content {
                        display: block;
                        padding: 20px;
                        background-color: #FFF;
                        border-radius: 0;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
